.markdown p{
    all: revert;
}
.markdown h1{
    all: revert;
}
.markdown h2{
    all:revert;
}
.markdown h3{
    all:revert;
}
.markdown h4{
    all:revert;
}
.markdown h5{
    all:revert;
}
.markdown h6{
    all:revert;
}
.markdown ul{
    all:revert;
}
.markdown li{
    all:revert;
}
.markdown ol{
    all:revert;
}
.markdown a{
    all:revert;
}
.markdown code{
    color: rgb(163, 201, 235);
}
