p{
    all: revert;
}
h1{
    all:revert;
}
h2{
    all:revert;
}
h3{
    all:revert;
}
h4{
    all:revert;
}
h5{
    all:revert;
}
h6{
    all:revert;
}
ul{
    all:revert;
}
li{
    all:revert;
}
ol{
    all:revert;
}
a{
    all:revert;
}
code{
    color: rgb(163, 201, 235);
}